<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GsmArena Parser</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <a href="/" th:text="${appName}">Our App</a>
    </header>
    <main>
        <div id="description" style="font-size: 20px; font-weight: 600; margin-bottom: 10px;">Description</div>
        <div style="margin-bottom: 15px">
            You can enter the link in the input field and click the "Parse" button to parse the content and add it to the list.<br>
            When all the desired content is parsed, you can click the "Download Excel document" button to download the content as an Excel document file.
        </div>
        <form id="parseForm" enctype="multipart/form-data">
            <label for="urlInput">Enter the link to the "gsmarena.com" web-page with device specifications</label><br>
            <div>
                <input type="url" id="urlInput" name="urlInput" placeholder="Enter URL of the web-page">
                <button type="button" onclick="parseData()">Parse</button>
            </div>
        </form>
        <div id="isParsed">&nbsp;</div>
        <button type="button" onclick="downloadExcelFile()">Download Excel document</button>
        <div id="isExcelDownloaded" style="margin-top: 10px">&nbsp;</div>
    </main>
    <script>
        function parseData() {
            const formData = new FormData(document.getElementById("parseForm"));
            $("#isParsed").html("&nbsp");
            $("#isExcelDownloaded").html("&nbsp");
            $.ajax({
                type: "POST",
                url: "/parse",
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    $("#isParsed").html(response);
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                    $("#isParsed").html(xhr.responseText);
                }
            });
            $("#urlInput").val("");
        }

        function downloadExcelFile() {
            $("#isParsed").html("&nbsp");
            $("#isExcelDownloaded").html("&nbsp");
            $.ajax({
                type: "POST",
                url: "/downloadExcel",
                xhrFields: {
                    responseType: 'blob'
                },
                success: function(response) {
                    const url = window.URL.createObjectURL(response);
                    const link = document.createElement('a');
                    link.href = url;
                    link.download = 'device_specs.xlsx';
                    document.body.appendChild(link);
                    link.click();
                    $("#isExcelDownloaded").html("The Excel file is being downloaded. The parsed content has been deleted.");
                    window.URL.revokeObjectURL(url);
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                    if (xhr.status === 400) {
                        // Bad Request
                        $("#isExcelDownloaded").html("There is no parsed content to download.");
                    } else if (xhr.status === 500) {
                        // Internal Server Error
                        $("#isExcelDownloaded").html("There was an error in Excel file creation. Please try again later.");
                    } else {
                        // Other error status codes
                        $("#isExcelDownloaded").html("Unable to download Excel file." + xhr.statusText);
                    }
                }
            });
        }
    </script>
</body>
</html>